.employee-view-body-container{
    background: #EDF0F5;
}
.employee-view-body-container .each-section{
    padding: 10px;
    
}
.employee-view-body-container .each-section-name{
    width: 300px;
    margin-left: 150px;
}