.ag-row{
    background: none !important;
    border:0px !important;
}
.ag-header-cell{
    background: #F5F7FA !important;
}
.ag-theme-balham .ag-header-cell::after, .ag-theme-balham .ag-header-group-cell::after{
    content:"" !important;
    border-right:0px
}

.ag-theme-balham .ag-root {
    border-radius: 4px;
    margin: 20px;
    border:0px !important;
}
.ag-paging-panel{
    margin-top:20px !important;
}