.column-2-header-buttons button{
    margin:4px 15px;
    font-size: 10px;
    height: 30px;
    background: #FFFFFF;
    border: #019323;
     color: #019323;
}
.column-2-header-buttons button:hover{
    color:white;
}
.column-2-header-buttons{
    text-align: right;
}
.shifts-view-column-2-header-container{
    background: #F7F7F7;
    padding: 30px;
}
