
.shifts-orders-nav-links .nav-link{
    text-decoration: unset;
    margin-right: 10px;
    padding:4px 2px 8px 2px !important;
    border-bottom: 3px solid white;
}
.shifts-orders-nav-links .nav-link:hover, .shifts-orderss-nav-links .nav-link.active{
    border-bottom: 3px solid red;
    
}
.shifts-orders-navigation-container{    
    padding: 5px;
    border-radius: 10px !important;
}
